[Unit]
AssertPathExists=/usr/bin/minippa

[Service]
WorkingDirectory=~
ExecStart=/usr/bin/minippa
Restart=always
PrivateTmp=false
NoNewPrivileges=true

[Install]
WantedBy=default.target
